# Ignore environment variables
.env
env/

# Python-specific ignores
__pycache__/
*.pyc
*.pyo

# Virtual environment folders
venv/
.venv/

# Flask-related ignores
instance/
*.log

# Ignore IDE-specific files (optional)
.vscode/
.idea/
